main {
  padding: 20px;
}

main h1 {
  margin: 0px 0px 12px 0px;
}

main table {
  text-align: left;
  border-collapse: collapse;
  margin-top: 12px;
}

main table th {
  min-width: 100px;
  background-color: lightblue;
}

main table th:first-child {
  min-width: 40px;
}

main table td {
  vertical-align: top;
}

.ingredient {
  background-color: rgb(167, 192, 239);
  display: inline-block;
  margin: 8px 8px 0px 0px;
  width: 200px;
  padding: .5em 1em;
  border-radius: 10px;
}

.ingredient h3, .ingredient ul {
  margin: 0px;
}

.ingredient ul {
  margin-bottom: 10px;
}

/* header {
  background-color: rgb(243, 225, 203);
  text-align: center;
  padding: 0.5em;
  font-size: 28px;
  font-weight: bold;
}

header nav a {
  color: darkcyan;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

header nav a:hover {
  color: rgb(255, 255, 255);
} */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
